body{
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
   
}


h1, p{
    text-align: center;
    padding: 20px;
    font-weight: bold;
}

h1{
   font-size: 35px; 
}
.menu {
    background-color: #010505;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0;
    padding: 5px;
    border-radius: 15px;
}

    .menu__item {
        background-color: #fff;
        align-items: center;
        display: flex;
        flex: 1 1 200px;
        justify-content: center;
        margin: 5px;
        padding: 0px;
        border-radius: 15px;
    }

        .menu__link {
            color: #000000;
            display: block;
            padding: 13px;
            text-decoration: none;
        }
.produtos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 3fr));
}
.produto{
    margin: 10px;
    padding: 40px;
    background-color: aliceblue;
    padding-bottom: 40px;
    border-radius: 12px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}
img{
    width: 100%;
    height: 100%;
    border-radius: 12px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}
dialog{
    width: 60%;
    border: 0px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    background-color: #000000;
}

dialog::backdrop{
    background-color: rgba(0, 0, 0, 0.8);
}
.titulo_modal{
    color: #fff;
    text-align: center;
}
#escudo{
    position: relative;
    left: 47%;
    width: 50px;
}
#escudo2{
    position: relative;
    left: 47%;
    width: 50px;
}
#escudo3{
    position: relative;
    left: 47%;
    width: 50px;
}
#escudo4{
    position: relative;
    left: 47%;
    width: 50px;
}
#link_arsenal1{
    margin-top: 5px;
    background-color: #000000;
    border-radius: 10px;
    text-align: center;
    padding: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}
.link_arsenal2{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-style: italic;
    
}
#link_aston1{
    margin-top: 5px;
    background-color: #000000;
    border-radius: 10px;
    text-align: center;
    padding: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}
.link_aston2{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-style: italic;
    
}

body.modal-aberto {
    overflow: hidden; 
}