body{
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
   
}


h1, p{
    text-align: center;
    padding: 20px;
    color: black;
    font-weight: bold;
}

h1{
   font-size: 35px; 
}
.menu {
    background-color: #010505;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0;
    padding: 5px;
    border-radius: 15px;
}

    .menu__item {
        background-color: #fff;
        align-items: center;
        display: flex;
        flex: 1 1 200px;
        justify-content: center;
        margin: 5px;
        padding: 0px;
        border-radius: 15px;
    }

        .menu__link {
            color: #000000;
            display: block;
            padding: 13px;
            text-decoration: none;
        }
.produtos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 3fr));
}
.produto{
    margin: 10px;
    padding: 40px;
    background-color: aliceblue;
    padding-bottom: 40px;
    border-radius: 12px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}
img{
    width: 100%;
    height: 100%;
    border-radius: 12px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}
