body{
    font-family: Arial, sans-serif;
    background-color: rgb(55, 136, 202);
    color: rgb(0, 0, 0);
   
}
body{
    background-image: url(fut3.jpg);
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
}
#titulo_pag{
    font-style: italic;
    
}

h1, p{
    text-align: center;
    padding: 20px;
    font-weight: bold;
}
p{
    color: white;
}

h1{
   font-size: 35px; 
}

.menu {
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0;
    padding: 10px;
    border-radius: 12px;
}
    .menu__item {
       
        align-items: center;
        display: flex;
        flex: 1 1 200px;
        justify-content: center;
        margin: 5px;
        padding: 0px;
        border-radius: 15px;
        
    }
    .menu__item:hover{
        background: linear-gradient(to right, #1a1a1a, #4fc8f8);
        cursor: pointer;
    }

        .menu__link {
            color: #fffcfc;
            display: block;
            padding: 13px;
            text-decoration: none;
            font-style: italic;
            font-size: large;
        }
.produtos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 3fr));
}
.produto{
    margin: 10px;
    padding: 40px;
    background-color: rgb(0, 0, 0);
    padding-bottom: 40px;
    border-radius: 12px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}
img{
    width: 100%;
    height: 100%;
    border-radius: 12px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
}
img:hover{
    transform: scale(1.1);
    cursor: pointer;
}
dialog{
    width: 60%;
    border: 0px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    background-color: #000000;
}

dialog::backdrop{
    background-color: rgba(0, 0, 0, 0.8)
}
.titulo_modal{
    color: #fff;
    text-align: center;
}
#escudo{
    position: relative;
    left: 47%;
    width: 50px;
}
#escudo2{
    position: relative;
    left: 47%;
    width: 50px;
}
#escudo3{
    position: relative;
    left: 47%;
    width: 50px;
}
#escudo4{
    position: relative;
    left: 47%;
    width: 50px;
}
#link_arsenal1{
    margin-top: 5px;
    background-color:  #7c7c7c;
    border-radius: 10px;
    text-align: center;
    padding: 2px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}
#link_arsenal1:hover{
    background: linear-gradient(to top, #1a1a1a, rgb(92, 92, 92));
    
}
.link_arsenal2{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-style: italic;
    font-size: large;
}
#link_aston1{
    margin-top: 5px;
    background-color: #7c7c7c;
    border-radius: 10px;
    text-align: center;
    padding: 2px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}
#link_aston1:hover{
    background: linear-gradient(to top, #1a1a1a, rgb(92, 92, 92));
    
}
.link_aston2{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-style: italic;
    font-size: large;
    
}

body.modal-aberto {
    overflow: hidden; 
}
#fora_banner
{
    border-radius: 15px;
    margin: 25px;
    padding: 25px;
}
.banner {
    overflow: hidden;
    width: 80%;
    margin: 0 auto;

}

.slides {
    display: flex;
    overflow: hidden;
    
}

.slide {
    flex-basis: 100%;
    flex-grow: 0;
    flex-shrink: 0;
    position: relative;
    animation: slide 15s infinite ease-in-out;
}

@keyframes slide {
    0% { left: 0px; }
    20% { left: 0px; }
    30% { left: -100%; }
    50% { left: -100%; }
    60% { left: -200%; }
    90% { left: -200%; }
    100% { left: 0px; }
}
.imagens {
    width: 100%; 
    height: auto; 
    border-radius: 10px;
}
#simbolo{
    position: fixed;
    bottom: 20px; 
    right: 20px; 
    width: 50px; 
    height: 50px;
    background-color: #25d366; 
    color: #fff; 
    border-radius: 50%; 
    z-index: 9999;

}
#simbolo:hover{
    cursor: pointer;
}
